# Основные зависимости
pandas>=1.5.0
numpy>=1.21.0
scikit-learn>=1.0.0
mlflow>=2.0.0
dvc>=2.0.0
great-expectations>=0.15.0

# API
fastapi>=0.68.0
uvicorn>=0.15.0
pydantic>=1.8.0

# Тестирование
pytest>=6.0.0
pytest-cov>=2.0.0
flake8>=3.9.0
black>=21.0.0

# Визуализация
matplotlib>=3.5.0
seaborn>=0.11.0
plotly>=5.0.0

# Дополнительные
joblib>=1.0.0
requests>=2.25.0
jupyter>=1.0.0
ipykernel>=6.0.0
scipy>=1.7.0